#Mode
MODE=

#Server
APP_PORT=

#OpenAi key
OPENAI_API_KEY=

#Supabase configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=

# Mongo
MONGODB_URI=

# Postgres
POSTGRES_URI=

#Azure OpenAI Key
AZURE_GPT4o_KEY=

CNCLV_SERVER=

#Google Voice Key
GOOGLE_VOICE_KEY=
